body {
	font-family: sans-serif;
	font-size: 16px;
	background-color: #f4f4f4;
	margin-bottom: 5px;
}

#main-doc {
	width: 80%;
	margin: auto;
	overflow: hidden;
	margin-left: 160px;
	padding: 0px 10px;
}

h1 {
	text-align: center;
}

img {
	width: 100%;
	height: auto;
	max-width: 500px;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

.sidenav {
	
	width: 160px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #f4f4f4;
	overflow-x: hidden;
	padding-top: 20px;
}

.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	text-transform: none;
	font-size: 25px;
	display:block;
	color: black;
	width: 60px;
}

@media screen and (max-height: 450px){
	.sidenav {padding-top: 15px;}
	.sidenav nav {font-size: 18px;}
}